<div class="flex flex-col justify-center items-center gap-2">
  <div
    class="mt-4 mr-10 self-end cursor-pointer bg-white py-1 px-2 rounded-lg shadow-sm"
    (click)="onRefresh()"
  >
    Osvježi
  </div>
  <input
    type="text"
    name="search"
    id="search"
    class="p-2 rounded-lg text-center w-[400px] max-w-[80%]"
    placeholder="Ime Prezime"
    [(ngModel)]="search"
    (ngModelChange)="onFilterName()"
  />
  <select
    name="job"
    id="job"
    class="p-2 rounded-lg text-center w-[200px] max-w-[80%]"
    [(ngModel)]="selectedJob"
  >
    <option value="Svi" selected>Svi</option>
    @for (job of allJobs; track $index) {
    <option [value]="job[0]">{{ job[0] }}</option>
    }
  </select>

  <div class="text-center w-[200px] max-w-[80%] mb-3">
    <div class="text-sm mb-2">SORTIRAJ</div>
    <select
      name="sort"
      id="sort"
      [(ngModel)]="selectedSort"
      (ngModelChange)="onSort()"
      class="p-2 rounded-lg text-center w-[200px] max-w-[80%]"
    >
      <option value="ImeA">Ime (A-Z)</option>
      <option value="ImeZ">Ime (Z-A)</option>
      <option value="PrezimeA">Prezime (A-Z)</option>
      <option value="PrezimeZ">Prezime (Z-A)</option>
      <option value="PozicijaA">Pozicija (A-Z)</option>
      <option value="PozicijaZ">Pozicija (Z-A)</option>
    </select>
  </div>
</div>

<div
  class="p-4 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
>
  @for (employee of filteredEmployees; track $index) {
  <div
    class="bg-white p-3 m-3 mt-10 rounded-xl text-center relative shadow-lg {{
      selectedJob === 'Svi' ||
      selectedJob.toLowerCase() === employee.jobTitle.toLowerCase()
        ? 'block'
        : 'hidden'
    }}"
  >
    <div class="flex flex-col justify-between">
      <div class="text-lg font-medium">
        {{ employee.firstName + " " + employee.lastName }}
      </div>
    </div>
    <div>{{ employee.dateOfBirth | prettyDate }}</div>
    <div
      class="absolute top-0 right-3 translate -translate-y-full px-2 py-1 rounded-t-lg text-sm"
      [ngStyle]="{ 'background-color': employee.jobTitle | prettyJob }"
    >
      {{ employee.jobTitle | uppercase }}
    </div>
  </div>
  }
</div>
