<div class="flex justify-end">
  <div class="m-10 mr-10 text-right cursor-pointer bg-white py-1 px-2 rounded-lg shadow-sm" (click)="onRefresh()">
    Osvježi
  </div>
</div>

<div class="p-4 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
  @for (employee of allEmployees; track $index) {
  <div class="bg-white p-3 m-3 mt-10 rounded-xl text-center relative shadow-lg">
    <div class="flex flex-col justify-between">
      <div class="text-lg font-medium">
        {{ employee.firstName + " " + employee.lastName }}
      </div>
    </div>
    <div>{{ employee.dateOfBirth | prettyDate }}</div>
    <div
      class="absolute top-0 right-3 translate -translate-y-full px-2 py-1 rounded-t-lg text-sm"
      [ngStyle]="{ 'background-color': employee.jobTitle | prettyJob }"
    >
      {{ employee.jobTitle | uppercase }}
    </div>
  </div>
  }
</div>
